:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  --primary-color: #B108FE;
  --primary-hover: #9906d8;
  --primary-light: rgba(177, 8, 254, 0.1);
  --danger-color: #ff4d4d;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--tg-theme-bg-color, #fff);
  color: var(--tg-theme-text-color, #000);
}

* {
  box-sizing: border-box;
}

button {
  background: var(--primary-color);
  color: white;
  
  &:hover {
    background: var(--primary-hover);
  }
} 